/* Content
----------------------------------------------- */
body {
  font: $(body.font);
  color: $(body.text.color);
  background: $(body.background);
  padding: 0 $(content.shadow.spread) $(content.shadow.spread) $(content.shadow.spread);
  $(body.background.override)
}

html body $(page.width.selector) {
  min-width: 0;
  max-width: 100%;
  width: $(page.width);
}

h2 {
  font-size: 22px;
}

a:link {
  text-decoration:none;
  color: $(link.color);
}

a:visited {
  text-decoration:none;
  color: $(link.visited.color);
}

a:hover {
  text-decoration:underline;
  color: $(link.hover.color);
}

.body-fauxcolumn-outer .fauxcolumn-inner {
  background: transparent $(body.background.gradient.tile) repeat scroll top left;
  _background-image: none;
}

.body-fauxcolumn-outer .cap-top {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 100%;
}

.body-fauxcolumn-outer .cap-top .cap-left {
  width: 100%;
  background: transparent $(body.background.gradient.cap) repeat-x scroll top left;
  _background-image: none;
}

.content-outer {
  -moz-box-shadow: 0 0 $(content.shadow.spread) rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 0 $(content.shadow.spread.webkit) rgba(0, 0, 0, .15);
  -goog-ms-box-shadow: 0 0 $(content.shadow.spread.ie) #333333;
  box-shadow: 0 0 $(content.shadow.spread) rgba(0, 0, 0, .15);

  margin-bottom: 1px;
}

.content-inner {
  padding: $(content.padding) $(content.padding.horizontal);
}

$(content.background.color.selector) {
  background-color: $(content.background.color);
}

/* Header
----------------------------------------------- */
.header-outer {
  background: $(header.background.color) $(header.background.gradient) repeat-x scroll 0 -400px;
  _background-image: none;
}

.Header h1 {
  font: $(header.font);
  color: $(header.text.color);
  text-shadow: $(header.shadow.offset.left) $(header.shadow.offset.top) $(header.shadow.spread) rgba(0, 0, 0, .2);
}

.Header h1 a {
  color: $(header.text.color);
}

.Header .description {
  font-size: $(description.text.size);
  color: $(description.text.color);
}

.header-inner .Header .titlewrapper {
  padding: 22px $(header.padding);
}

.header-inner .Header .descriptionwrapper {
  padding: 0 $(header.padding);
}

/* Tabs
----------------------------------------------- */
.tabs-inner .section:first-child {
  border-top: $(header.bottom.border.size) solid $(tabs.border.color);
}

.tabs-inner .section:first-child ul {
  margin-top: -$(header.border.size);
  border-top: $(header.border.size) solid $(tabs.border.color);
  border-left: $(header.border.horizontalsize) solid $(tabs.border.color);
  border-right: $(header.border.horizontalsize) solid $(tabs.border.color);
}

.tabs-inner .widget ul {
  background: $(tabs.background.color) $(tabs.background.gradient) repeat-x scroll 0 -800px;
  _background-image: none;
  border-bottom: $(tabs.border.width) solid $(tabs.border.color);

  margin-top: $(tabs.margin.top);
  margin-left: -$(tabs.margin.side);
  margin-right: -$(tabs.margin.side);
}

.tabs-inner .widget li a {
  display: inline-block;

  padding: .6em 1em;

  font: $(tabs.font);
  color: $(tabs.text.color);

  border-$startSide: $(tabs.border.width) solid $(content.background.color);
  border-$endSide: $(tabs.bevel.border.width) solid $(tabs.border.color);
}

.tabs-inner .widget li:first-child a {
  border-$startSide: none;
}

.tabs-inner .widget li.selected a, .tabs-inner .widget li a:hover {
  color: $(tabs.selected.text.color);
  background-color: $(tabs.selected.background.color);
  text-decoration: none;
}

/* Columns
----------------------------------------------- */
.main-outer {
  border-top: $(main.border.width) solid $(body.rule.color);
}

.fauxcolumn-left-outer .fauxcolumn-inner {
  border-right: 1px solid $(body.rule.color);
}

.fauxcolumn-right-outer .fauxcolumn-inner {
  border-left: 1px solid $(body.rule.color);
}

/* Headings
----------------------------------------------- */
div.widget > h2,
div.widget h2.title {
  margin: 0 0 1em 0;

  font: $(widget.title.font);
  color: $(widget.title.text.color);
}

/* Widgets
----------------------------------------------- */
.widget .zippy {
  color: $(widget.alternate.text.color);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
}

.widget .popular-posts ul {
  list-style: none;
}

/* Posts
----------------------------------------------- */
h2.date-header {
  font: $(date.header.font);
}

.date-header span {
  background-color: $(date.header.background.color);
  color: $(date.header.color);
  padding: $(date.header.padding);
  letter-spacing: $(date.header.letterspacing);
  margin: $(date.header.margin);
}

.main-inner {
  padding-top: $(main.padding.top);
  padding-bottom: $(main.padding.bottom);
}

.main-inner .column-center-inner {
  padding: 0 $(main.padding);
}

.main-inner .column-center-inner .section {
  margin: 0 $(main.section.margin);
}

.post {
  margin: 0 0 $(post.margin.bottom) 0;
}

h3.post-title, .comments h4 {
  font: $(post.title.font);
  margin: .75em 0 0;
}

.post-body {
  font-size: 110%;
  line-height: 1.4;
  position: relative;
}

.post-body img, .post-body .tr-caption-container, .Profile img, .Image img,
.BlogList .item-thumbnail img {
  padding: $(image.border.small.size);

  background: $(image.background.color);
  border: 1px solid $(image.border.color);

  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.post-body img, .post-body .tr-caption-container {
  padding: $(image.border.large.size);
}

.post-body .tr-caption-container {
  color: $(image.text.color);
}

.post-body .tr-caption-container img {
  padding: 0;

  background: transparent;
  border: none;

  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
  box-shadow: 0 0 0 rgba(0, 0, 0, .1);
}

.post-header {
  margin: 0 0 1.5em;

  line-height: 1.6;
  font-size: 90%;
}

.post-footer {
  margin: 20px -2px 0;
  padding: 5px 10px;

  color: $(post.footer.text.color);
  background-color: $(post.footer.background.color);
  border-bottom: 1px solid $(post.footer.border.color);

  line-height: 1.6;
  font-size: 90%;
}

#comments .comment-author {
  padding-top: 1.5em;

  border-top: 1px solid $(body.rule.color);
  background-position: 0 1.5em;
}

#comments .comment-author:first-child {
  padding-top: 0;
  border-top: none;
}

.avatar-image-container {
  margin: .2em 0 0;
}

#comments .avatar-image-container img {
  border: 1px solid $(image.border.color);
}

/* Comments
----------------------------------------------- */
.comments .comments-content .icon.blog-author {
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB9sLFwMeCjjhcOMAAAD+SURBVDjLtZSvTgNBEIe/WRRnm3U8RC1neQdsm1zSBIU9VVF1FkUguQQsD9ITmD7ECZIJSE4OZo9stoVjC/zc7ky+zH9hXwVwDpTAWWLrgS3QAe8AZgaAJI5zYAmc8r0G4AHYHQKVwII8PZrZFsBFkeRCABYiMh9BRUhnSkPTNCtVXYXURi1FpBDgArj8QU1eVXUzfnjv7yP7kwu1mYrkWlU33vs1QNu2qU8pwN0UpKoqokjWwCztrMuBhEhmh8bD5UDqur75asbcX0BGUB9/HAMB+r32hznJgXy2v0sGLBcyAJ1EK3LFcbo1s91JeLwAbwGYu7TP/3ZGfnXYPgAVNngtqatUNgAAAABJRU5ErkJggg==);
}

.comments .comments-content .loadmore a {
  border-top: 1px solid $(widget.alternate.text.color);
  border-bottom: 1px solid $(widget.alternate.text.color);
}

.comments .comment-thread.inline-thread {
  background-color: $(post.footer.background.color);
}

.comments .continue {
  border-top: 2px solid $(widget.alternate.text.color);
}

/* Accents
---------------------------------------------- */
.section-columns td.columns-cell {
  border-$startSide: 1px solid $(body.rule.color);
}

.blog-pager {
  background: $(paging.background);
}

.blog-pager-older-link, .home-link,
.blog-pager-newer-link {
  background-color: $(content.background.color);
  padding: 5px;
}

.footer-outer {
  border-top: $(footer.bevel) dashed #bbbbbb;
}

/* Mobile
----------------------------------------------- */
body.mobile  {
  background-size: $(mobile.background.size);
}

.mobile .body-fauxcolumn-outer {
  background: $(mobile.background.overlay);
}

.mobile .body-fauxcolumn-outer .cap-top {
  background-size: 100% auto;
}

.mobile .content-outer {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}

.mobile .tabs-inner .widget ul {
  margin-left: 0;
  margin-right: 0;
}

.mobile .post {
  margin: 0;
}

.mobile .main-inner .column-center-inner .section {
  margin: 0;
}

.mobile .date-header span {
  padding: 0.1em 10px;
  margin: 0 -10px;
}

.mobile h3.post-title {
  margin: 0;
}

.mobile .blog-pager {
  background: transparent none no-repeat scroll top center;
}

.mobile .footer-outer {
  border-top: none;
}

.mobile .main-inner, .mobile .footer-inner {
  background-color: $(content.background.color);
}

.mobile-index-contents {
  color: $(body.text.color);
}

.mobile-link-button {
  background-color: $(link.color);
}

.mobile-link-button a:link, .mobile-link-button a:visited {
  color: $(mobile.button.color);
}

.mobile .tabs-inner .section:first-child {
  border-top: none;
}

.mobile .tabs-inner .PageList .widget-content {
  background-color: $(tabs.selected.background.color);
  color: $(tabs.selected.text.color);
  border-top: $(tabs.border.width) solid $(tabs.border.color);
  border-bottom: $(tabs.border.width) solid $(tabs.border.color);
}

.mobile .tabs-inner .PageList .widget-content .pagelist-arrow {
  border-$startSide: 1px solid $(tabs.border.color);
}

/*body#layout .main-wrapper .widget,body#layout .full-width-wrap .widget{margin-bottom:0!important}
body#layout:before{content:&#39;www.themelet.com&#39;;position:absolute;top:102px;right:0;color:#fff;padding:2px 5px;font-family:Roboto,sans-serif;background:#2550b5;z-index:999}
body#layout .add_widget a,body#layout a:visited{color:#000}
body#layout .side-panel{margin-left:0;position:relative;width:325px;background:#00a4e4}
body#layout .blog-header{padding:15px 5px;background:#7ac143}
body#layout .blog-header .section h4{background:#49a942}
body#layout .blog-header:before{content:&quot;Header&quot;;background:#49a942}
body#layout .topnav:before{content:&#39;Blog header lets yoi configure top bar static pages, social icons, logo, ad and dropdown menu. Pleaseread the documantation for explanation&#39;;color:#222;font-family:Roboto,sans-serif;font-size:15px;padding:0 25px}
body#layout .topbar-icons{display:none}
body#layout .main-navigation{height:auto;margin-top:5px;overflow:hidden;position:relative;display:block;width:auto;}
body#layout .tl-midheader .main-header,body#layout .adbanner{max-width:none;max-height:none}
body#layout .hometop-featured{background:#00a4e4;padding:15px 20px}
body#layout .hometop-featured:before{content:&#39;Home Top&#39;;background:#2b82ad}
body#layout div#Home-Featured{margin-top:25px}
body#layout div#Home-Featured:before{content:&quot;Here putt (News Ticker and home top) widget. Click edit and putt the widget code.&quot;;font-size:14px}
body#layout .hometop-featured .section h4{background:#2b82ad;margin-top:5px}
body#layout .full-width-wrap{background:#ed1b2e;padding:15px}
body#layout .main-sec-top.full-width-wrap:before{content:&quot;Wide Top&quot;;background:#d81729}
body#layout .main-sec-bottom.full-width-wrap:before{content:&quot;Wide Bottom&quot;;background:#d81729}
body#layout div#FullWidth-Top{margin-top:25px}
body#layout .full-width-wrap .section h4{background:#d81729;margin-top:15px}
body#layout .full-block:before{content:&quot;Wide widgets Includes (carousel tabs, big wide and cards) putt below in HTML/Javascript widgets. &quot;;font-size:14px;padding:0}
body#layout .inner-fix{margin:0}
body#layout .two-col-mag.mag-posts{margin:0}
body#layout .g-outer{background:#b4a996;margin:0}
body#layout .main-inner,body#layout .sidebar-inner{padding:0!important}
body#layout aside#sidebar-wrapper{background:#00a78e}
body#layout div#sidebar-widgets:before{content:&#39;Custom sidebar widgets includes (sidebar tabs, Hcards, social1, social2 and slider)&#39;}
body#layout aside#sidebar-wrapper .section h4{background:#038672;margin-top:5px}
body#layout .one-col-content{background:#00a4e4;padding-bottom:1px}
body#layout .two-col-content{background:#7ac143}
body#layout .one-col-mag:before{content:&#39;Horizontal Widgets&#39;;background:#2b82ad}
body#layout .full-width-block:before{content:&#39;Horizontal Widgets includes (strips, headline, stack gallery)&#39;}
body#layout .one-col-content .section h4{background:#2b82ad;margin-top:5px}
body#layout .two-col-content:before{content:&#39;Vertical Widgets&#39;;background:#49a942}
body#layout .two-col-mag:before{content:&#39;Vertical Widgets includes (simple, single, slider)&#39;;display:block;padding:5px 0 10px;font-family:Roboto,sans-serif}
body#layout .two-col-content .section h4{background:#49a942;margin-top:5px}
body#layout .main-post-sec{background:#ed1b2e;padding-top:8px;margin:0;padding-bottom:1px}
body#layout .main-post-sec:before{content:&#39;Blog Posts Settings&#39;;background:#d81729}
body#layout div#main:before{content:&#39;Here, you can change different options of blog&#39;;display:block;padding:5px 0 10px;font-family:Roboto,sans-serif}
body#layout .main-post-sec .section h4{background:#d81729;margin-top:5px}
body#layout .rhead{display:none}
body#layout footer#footer-wrapper{margin:0!important}
body#layout .tl-footer-wrap{background:#b4a996}
body#layout .footer-labels.col1{background:#00a4e4;padding-bottom:1px}
body#layout .footer-labels.col1 .section h4{background:#2b82ad;margin-top:5px}
body#layout .footer-labels.col1:before{content:&#39;Footer Nav&#39;;background:#2b82ad}
body#layout div#Footernav:before{content:&#39;Here, putt (Footer Menu) widget &#39;}
body#layout .tl-footer-cols{position:relative;overflow:hidden;background:#7ac143;padding-top:7px}
body#layout .tl-footer-cols:before{content:&#39;Footer cols&#39;;display:block;margin-top:7px;background:#49a942}
body#layout div#Footer1:before,body#layout div#Footer2:before{content:&#39;Here, putt (Footer Recent) Widget&#39;}
body#layout div#Footer3:before{content:&#39;Click edit and setup label widget&#39;}
body#layout .tl-footer-cols .section h4{background:#49a942;margin-top:5px}
body#layout .tl-footer-branding{background:#ed1b2e;padding-top:7px}
body#layout .tl-footer-branding:before{content:&#39;About Us&#39;;background:#d81729}
body#layout div#Aboutus:before{content:&#39;Here putt, (About us) widget&#39;}
body#layout .tl-footer-branding .section h4{background:#d81729;margin-top:5px}
body#layout .tl-copyright-wrap{background:#00a78e}
body#layout .tl-copyright{width:100%}
body#layout .blog-header:before,body#layout .hometop-featured:before,body#layout .main-sec-top.full-width-wrap:before,body#layout .main-sec-bottom.full-width-wrap:before,body#layout .one-col-mag:before,body#layout .two-col-content:before,body#layout .main-post-sec:before,body#layout .footer-labels.col1:before,body#layout .tl-footer-cols:before,body#layout .tl-footer-branding:before,body#layout .side-panel:before{font-size:25px;padding:3px 15px;font-family:Roboto,sans-serif;line-height:50px;color:#fff;margin-bottom:15px}
body#layout .side-panel:before{content:&quot;Side Panel&quot;;background:#0e95ca}
body#layout .side-panel .section h4{background:#0e95ca}
body#layout .section h4{margin:0;padding:1px 7px;font-size:14px;color:#fff}
body#layout div#trendyWidget{display:none}
body#layout div#header-left{float:left;width:25%}
body#layout div#Dropdown{float:right;width:95%}
body#layout .blog-header,body#layout .g-outer,body#layout .bottomSec-full.inner,body#layout .branding-content{position:relative;overflow:hidden}
body#layout .section h4{margin:0}
body#layout .full-width-wrap .inner{padding:0}
body#layout .row{margin:0}
body#layout .col2,body#layout .tl-footer-nav{width:50%}
body#layout .col3{width:33.3333333333%}
body#layout .colc{width:65%}
body#layout .colc2{width:35%}
body#layout header#header-space{float:left;width:40%}
body#layout .two-col-mag.mag-posts{overflow:hidden;position:relative}
body#layout .col-seprate{width:50%;float:left}
body#layout .tl-footer-bar,body#layout .footer-bar-content,body#layout .tl-footer-branding,body#layout .tl-copyright-wrp{overflow:hidden;position:relative}
body#layout .featured-top{padding:40px 0 0 0}
body#layout .featured-inner{padding:0}
body#layout .featured-left-n-right{position:relative;overflow:hidden}
body#layout .featured-left{width:50%;float:left}
body#layout .featured-left .section{height:295px}
body#layout .featured-left .widget{margin-top:40px}
body#layout .featured-left h4{margin-top:57px}
body#layout .featured-right{width:50%;float:right;margin-right:-5px}
body#layout .featured-two-col{position:relative;overflow:hidden;margin:5px 0 0 0}
body#layout .featured-small{float:left;width:50%}
body#layout .featured-full-bottom{position:relative;overflow:hidden;margin:0 -5px}
body#layout .small-grid{float:left;width:33.3333333333%}
body#layout .tl-tab-content{overflow:hidden}
body#layout div#sidebarTab-1,body#layout div#sidebarTab-2,body#layout div#sidebarTab-3{float:left;width:84%}
body#layout .pull-right{float:right}
body#layout .pull-left{float:left}
body#layout .tl-contact-form,body#layout .tl-stab-buttons{display:none}
body#layout #tl-footer-nav{width:89%}
body#layout .tl-footer-branding,body#layout .tl-brand,body#layout .tl-email{padding:0}
body#layout .tl-copyright:before{content:&#39;Once again thank you so much for purchasing our template. We had be glad to help you if you have any questions relating to this template. Regards:themelet.com&#39;;display:block;width:auto;font-size:17px;padding:18px;color:#fff;text-align:left;margin-top:0}
body#layout #outer-wrapper{width:100%}
body#layout .inner{padding:0 15px}
body#layout .topnav-block{width:100%;overflow:hidden;margin-top:25px}
body#layout #StaticPages{float:left;width:50%;margin:5px 0}
body#layout #Socialicons{width:40%;float:right;margin:5px 0}
body#layout #navigation,body#layout #topsocial{float:left;width:47.6%}
body#layout .search-form{display:none}
body#layout div#headerleft{width:95%}
body#layout .tl-midheader{padding:0;position:relative;overflow:hidden}
body#layout .header.section{width:100%;float:left;margin:5px 0}
body#layout div#MainNavigation,body#layout div#NewsTicker,body#layout div#FeaturedSlider-1,body#layout .featured-left .section{margin:5px 0}
body#layout .adbanner.section{float:right;width:50%;margin:5px 0}
body#layout .main-and-sidebar{overflow:hidden;position:relative}
body#layout #main-wrapper,body#layout .top-n-bot-L{overflow:hidden;width:65%;float:left}
body#layout #sidebar-wrapper,body#layout .top-n-bot-R{overflow:hidden;float:right;width:35%}
body#layout .sidebar-inner{padding:0 0 0 5px}
body#layout .main-inner{padding:0 5px 0 0}
body#layout .sidebar2{float:left;width:28%}
body#layout .recent-content{overflow:auto}
body#layout .recent-content&gt;div{float:left;width:25%}
body#layout .header-section.header-contents:before{content:&#39;Header Section&#39;;background:#4dc47d;margin-top:15px}
body#layout .tl-topfeatured.homepage-featured:before{content:&#39;Featured Section&#39;;background:#1793d1}
body#layout .content-wrapper.main-content:before{background:#70b29c;content:&#39;Main section&#39;}
body#layout footer#footer-wrapper:before{content:&#39;Footer Section&#39;;background:#5a5a5a;font-family:Roboto,sans-serif}
body#layout .main-inner:before{content:&#39;Content Section&#39;;background:#5d5c5c}
body#layout .sidebar-inner:before{content:&#39;Sidebar&#39;;background:#6f6f6f}
body#layout .content-wrapper.main-content:before,body#layout .header-section.header-contents:before,body#layout .tl-topfeatured.homepage-featured:before,body#layout footer#footer-wrapper:before{padding:10px;color:#fff;font-size:18px;text-transform:capitalize;display:block}
body#layout .main-inner:before,body#layout .sidebar-inner:before{font-family:Roboto,sans-serif;padding:10px;font-size:15px;text-transform:capitalize;color:#fff;position:relative;display:block}
body#layout .tl-topfeatured.homepage-featured{margin:40px 0 -8px 0}
body#layout .content-wrapper.main-content,body#layout .slider-block.full-width-wrap,body#layout footer#footer-wrapper{margin:40px 0 0 0}
body#layout div#main-wrapper,body#layout aside#sidebar-wrapper{margin:20px 0 0 0}
body#layout .tl-top-sidebar,body#layout .blogMainContent{padding-top:20px}
body#layout .status-msg{padding:0;margin:0}
body#layout .tl-bottomCar{padding:0 10px}
body#layout #FooterSlider{margin-top:40px}
body#layout div#outer-wrapper:before{content:&#39;Egnova Admin Panel&#39;;position:absolute;font-family:Roboto,sans-serif;top:0;background:#3369e7;font-size:32px;font-weight:600;color:#fff;right:0;padding:42px;display:block}
body#layout div#header-wrapper:before{content:&#39;For support visit themelet.com&#39;;position:absolute;top:2px;color:#fff;right:5px}
body#layout div#header-wrapper:after{content:&#39;like Egnova please rate it&#39;;position:absolute;top:50px;color:#fff;right:25px}
body#layout{background-color:#b4a996;border:1px solid #f5f5f5}
body#layout div.section{background-color:rgba(0,0,0,0.03);border:1px solid #f1f1f1;border:1px solid rgba(255,255,255,0.5)}
body#layout .widget-content{border:1px solid rgba(0,0,0,0.09)}*/
